.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}
.features__heading {
  font-weight: 600;
  font-size: 48px;
  color:$primaryColor;
  margin-bottom: 24px;
}
.features__text {
  text-align: center;
  width: 705px;
  margin-bottom: 96px;
}
.wrapper {
width: 100%;
}
.wrapper__list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 434px;
  gap: 40px;

}
.wrapper__item {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 16px 16px 32px;
  transition: transform 0.4s ease;
  perspective: 1200px;
   background-image: linear-gradient(
      to bottom ,
      rgb(206, 238, 245,0.2) 50%,
      #ceeef5
   );

      &:nth-child(6){
        padding: 0;
        img{
          object-fit: cover;

        }
      }

        &:hover{
          transform:  scale(1.05);
        }
}
.img-box {
  position: relative;
  margin-bottom: 24px;
       img{
         border-radius: 18px;

       }
}


   .heart{
    width: 20px;
    height: 20px;
    background-color:#f20044;
position: relative;
transform: rotate(-45deg);
box-shadow: -10px 20px 90px #f20044;
animation-name: heart;
animation-duration: 0.6s;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;

    @keyframes heart {
          0%{
            transform: rotate(-45deg) scale(1.07);
          }
          80%{
            transform: rotate(-45deg) scale(1.0);
          }
          100%{
            transform: rotate(-45deg) scale(0.8);
          }
    }
             &::before{
              content: "";
               width: 20px;
               height: 20px;
               background-color:#f20044;
               position: absolute;
               top: -50%;
               border-radius:50px;
               box-shadow: -10px 20px 90px #f20044;
             }
             &::after{
              content: "";
               width: 20px;
               height: 20px;
               background-color:#f20044;
               position: absolute;
               right: -50%;
               border-radius:50px;
               box-shadow: -10px 20px 90px #f20044;
             }
   }


   .box-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color:#f5efef;
    border-radius:100px;
    position:absolute;
    top: 20px;
    right: 20px;


  }

.subtitle {
  font-weight: 600;
  font-size: 24px;
  color:$primaryColor;
  margin-bottom: 24px;
}

.card{
      span{
        background-color: transparent;
      }
}
.box {
  display: flex;
  align-items:center;
  margin-bottom: 0;
  gap: 24px;
}
.box__time {
  display: flex;
  align-items: center;
white-space: nowrap;

}
.box__order {

}