@import "../utils/variables";
@import "../utils/mixin";

.header {

}
.container {
}
.header___wrapper {
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 0;

}
.logo-wrapper {

}
.logo-wrapper__link {
       &:hover{
        opacity: 0.8;
       }
       &:active{
        opacity: 0.6;
       }
}
.logo-wrapper__icon {
  width: 110px;
  height: 30px;

}
.header__nav {
}
.header__list {
  display: flex;
  align-items: center;
  list-style: none;
gap: 60px;
white-space: nowrap;
}
.header__item {

}
.header__link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
color:$primaryColor;
}
.icons {
  display: flex;
  align-items:center;
  gap: 40px;
}

header + hr{
  background-color:rgb(0, 0, 0,0.1);
  border: none;
  height: 2px;
  margin-bottom: 40px;
}
